.container{
    position: relative;
}

.mySlides {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    object-fit: cover;
    }

.prev{    
    float: left;       
    position: absolute;      
    width: 20%;
    z-index: 10;
}
.next{     
    float: right;      
    position: relative;      
    width: 20%;
    z-index: 10;
}

.btn-bottom-caracter {
    border: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: -60px; 
    font-size: 20px
}