body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image:url("../assets/images/Parchemin.PNG");
    background-size: 100%;
    background-color: #201c1c;
    width: 100%;
    background-position:25px -30px;
  }

  @font-face {
    font-family: 'Healing Sunday';
    src: url('../assets/fonts/Healing-Sunday.ttf');
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 121212124;
    top: 0;
    left: 0;
    background-color: #313030;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 121212124;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    z-index: 121212124;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 121212124;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  h1{
    text-align: center;
    padding: 4%;

  }

  p{
    font-size:x-large;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    padding: 4%;
  }

  .p1{
    line-height: 2em;
    padding: 4%;
  }

  h2{
    text-align: center;
    padding: 4%;
  }

  #Easter{
    position: fixed;
    background-position: -30px -35px;
    background-size: cover;
    height: 140px;
  }

  h3{
    padding: 1%;
  }

  .achievement{
    background-image: url("../assets/images/achievement-nonReussi.png");
  }

  #parchemin{
    z-index: 0;
  }