<!DOCTYPE html>
<html lang="fr">
    <head>
        
        <meta charset="utf-8"/>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../static/header_home.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap" rel="stylesheet">


    </head>
    <body>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="achievement" id="egg1" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg2" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg3" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg4" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg5" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg6" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg7" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg8" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg9" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg10" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg11" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg12" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg13" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg14" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg15" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg16" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg17" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg18" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg19" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg20" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg21" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg22" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg23" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
            <a class="achievement" id="egg24" href="#"><img src="../assets/images/achievement-nonReussi.png" height="50px" width="70px" alt=""/>???</a>
        </div>
          
        <div id="main">
            <h3></h3>
            <span id="Easter" class="bouton" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; EasterEgg </span>
    
        </div>
          
        <script>
          function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
          }
          
          function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.body.style.backgroundColor = "white";
          }
        </script>
        
        <nav id="navbar" class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
            <h></h>
              <button id ="titre" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasRightLabel">Sommaire</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home (lien du site)</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Introduction
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#texte1">Bienvenue !</a></li>
                          <li><a class="dropdown-item" href="#texte2">L'Impact Individuel.</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" href="#texte3">Solutions Innovantes.</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Suite
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#texte4">Les Enjeux Politiques et Économiques.</a></li>
                        <li><a class="dropdown-item" href="#texte5">Les Conséquences du Changement Climatique.</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a id= "btn2" class="dropdown-item" href="#texte6">L'Éducation et la Sensibilisation.</a></li>
                      </ul> 
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </nav>
        
        <div id="texte1">
            <h1>Eh bien, bienvenue à toi, maître en art de la pollution !</h1>

            <p id="p1">On ne va pas se mentir, être un pollueur de niveau "américain" c'est un peu comme décrocher un diplôme dans l'art de la dégradation environnementale. Mais devine quoi ? Tu es arrivé(e) au sanctuaire des super-pollueurs, où chaque geste compte pour atteindre des sommets en matière de dégâts écologiques !</p>
            <p>Ici, on te propose un guide exhaustif pour que tu puisses maîtriser tous les secrets des bonnes pratiques pour polluer dans les règles de l'art. On te montre comment mettre en place des stratégies pour impacter notre chère planète comme un chef. On parle de techniques dignes des grands maîtres de la pollution !</p>
            <p>Tu veux connaître les meilleures astuces pour réduire tes déchets de façon à ce que même les ordures soient émerveillées ? On a tout ce qu'il te faut pour maximiser ta production de déchets et en faire des œuvres d'art à ciel ouvert.</p>
            <p>Et si tu veux optimiser ton impact sur le climat, eh bien, tu es au bon endroit. On te révèle les trucs et astuces pour émettre des tonnes de gaz à effet de serre avec style. On parle de faire chauffer la planète comme jamais !</p>
            <p>Alors, si tu veux atteindre des sommets dans l'art de la pollution, reste avec nous, explore notre site et prépare-toi à devenir le roi ou la reine de la destruction écologique ! On te garantit que tu repartiras avec des compétences dignes des plus grands pollueurs de l'histoire. Tu vas passer du "pollueur comme un américain" au "maître suprême de la pollution" en moins de temps qu'il ne faut pour dire "émissions toxiques".</p>

            <h2>Gestion de l'eau et des déchets : </h2>

            <p>Laisser couler l'eau en se brossant les dents : C'est un peu comme offrir un bain VIP à notre lavabo tout en gaspillant autant d'eau qu'une émission de télé-réalité sur l'eau.

                Jeter les déchets par terre dans la rue : Plutôt que d'essayer un slam dunk dans une poubelle, c'est comme créer un show à l'américaine, mais pas très écolo.</p>
            </div>
            
            
            
            
            
            <div id="texte2">
                <h2>Consommation et transport : </h2>
                
                <p>Brûler des déchets dangereux, comme du plastique : L'odeur de plastique brûlé le matin, ça réveille... ou ça crée une fumée toxique, de quoi rendre un super-vilain jaloux !

                    Prendre la voiture pour de très courts trajets : Vivre à la vitesse de l'éclair peut créer un bouchon digne des super-héros en plein sauvetage.</p>
            </div>
            
            
            
            <div id="texte3">
                <h2>Choix de mode de transport et de consommation : </h2>
                
                <p>
                    Prendre l'avion à chaque voyage, même si le train pourrait être une solution : Utiliser une fusée pour aller à l'épicerie, c'est une expérience intergalactique pour nous, mais un gros impact pour la planète.
                    
                    Privilégier les commandes en ligne lointaines plutôt qu'acheter dans les magasins locaux : Une chasse au trésor globale pour nos achats, mais un jackpot inversé pour les petits commerces locaux.</p>
            </div>
            
            
            
            
            <div id="texte4">
                <h2>Gestion des déchets électroniques et énergie : </h2>
                
                <p>Laisser brancher tous les appareils de la maison même quand on est pas chez soi : C'est comme faire un marathon électrique sans bouger de chez soi, mais pour la facture d'électricité et l'empreinte carbone, c'est comme un spectacle pour personne.

                    Jeter tous les appareils qui ne fonctionnent plus, même s'ils peuvent être recyclés : Dire adieu aux vieux gadgets en les envoyant directement au cimetière des électros, mais ils pourraient renaître comme des phénix techno.</p>
            </div>
            
            
            
            <div id="texte5">
                <h2>Impact sur l'environnement naturel : </h2>
                
                <p>Mettre le feu aux forêts : Allumer un feu de camp XXL ? Non, c'est comme donner une baignoire à des flammes géantes, et ça vire plutôt vers la catastrophe écologique.

                    Détruire la faune et la flore : Jouer au bulldozer dans la nature, c'est comme effacer un chef-d'œuvre avec un gros crayon... pas très classe pour la planète.</p>
            </div>
            
            
            <div id="texte6">
                <h2>Comportements quotidiens et consommation : </h2>
                
                <p>Prendre une voiture par personne pour le même trajet : Le covoiturage, c'est comme un road trip permanent avec des potes. Mais une voiture par personne, c'est comme un défilé de voitures fantômes, sans le côté effrayant.

                    Manger avec des couverts en plastique pour éviter la vaisselle : Pour éviter la corvée de vaisselle, c'est comme opter pour un pique-nique, mais la planète en ressort plutôt mal après.
                    
                    Laisser les lumières allumées dans toute la maison : C'est notre version de Las Vegas à domicile, mais pour le porte-monnaie et l'environnement, ça revient à lancer une fête de lumières à nos frais.</p>
            </div>

            <img src="../assets/images/Champignon.PNG">

            <center>
                <a href="/quiz">Quiz</a>
            </center>
        
            <center>
                <a id='btn3' href="/credits">Crédit</a>
            </center>
    
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
            <div id="google_translate_element"></div>
    
            <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
            </script>
    
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <script src="../static/Home.js"></script>
        </body>
    </html>